body {
  text-align: center;
  background-color: #283149;
}

/* h1{
  font-size:6rem;
} */
h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}
.drums
{
  margin:10% auto;
}
button{
  display:inline-block;
  margin:10px 10px;
  height:120px;
  width:150px;
  border-width:8px;
  border-color:grey;

}

.w{
  background-image:url("./images/crash.png");
}

.a{
  background-image:url("./images/kick.png");
}

.s{
  background-image:url("./images/snare.png");
}

.d{
  background-image:url("./images/tom1.png");
}

.j{
  background-image:url("../drum website/images/tom2.png");
}

.k{
  background-image:url("./images/tom3.png");
}

.l{
  background-image:url("./images/tom4.png");
}

.pressed{
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
